body {
    background-color: powderblue;
}
h1 {
    color: blue;
    text-align: center;
    background-color: lightgray;
    display: block;
    padding: 50px;
    border: 5px solid #5D6063;
}
h2 {
    text-align: left;
    color: rgb(152, 163, 163)

}

h1, h2, p {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 30px;
    
}

ul {
    list-style-type: square;
    font-family: sans-serif;
    
}

.projects {
    font-style: italic;
    color: green;
}

#button {
    color: darkblue;
    font-style: italic;
    background-color: pink;
}
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: limegreen;

}
.header li{
    float: left;
    border-right: 1px solid #bbb
}
.header li:last-child{
    border-right: none;
}


.header li a {
    display: block;
    padding: 8px;
    background-color: #dddddd
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}